body
{
    color: rgb(57, 56, 56);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
#container
{
    color: blue;
    background: white;
    font-family: Arial;
    text-align: left;
}
#container #post
{
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

